@{
	ViewData["Title"] = "Confirm Logout - Tagerly";
	Layout = "_LogoutLayout";
}

<div class="logout-confirmation">
	<h4>Are you sure want to logout?</h4>
	<div class="button-group">
		<a href="#" class="btn-secondary" onclick="hideLogoutModal()">Cancel</a>
		<form asp-action="ConfirmLogout" asp-controller="Account" method="post" style="display: inline;">
			<button type="submit" class="btn-handmade">Logout</button>
		</form>
	</div>
</div>