@model LoginViewModel
@{
	Layout = "_RegisterationLayout";
}

<div class="form-wrapper align-items-center">
	<form asp-action="Login" method="post" class="form sign-in">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="input-group">
			<i class='bx bxs-user'></i>
			<input asp-for="Email" class="form-control" placeholder="email" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="input-group">
			<i class='bx bxs-lock-alt'></i>
			<input asp-for="Password" class="form-control" placeholder="Password" />
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
		<div class="input-group remember-me-group">
			<label>
				<input type="checkbox" asp-for="RemmemberMe" /> Remember me
			</label>
		</div>
		<button type="submit">Sign in</button>
		<p>
			<b>Forgot password?</b>
		</p>
		<p>
			<span>Don't have an account?</span>
			<b onclick="toggle()" class="pointer" asp-action="SignUp">Sign up here</b>
		</p>
		<div class="form-group">
			<p>
				<a asp-action="ForgotPassword">Forgot your password?</a>
			</p>
		</div>
		@* <p>
			<span>Resend Confirmation Email!</span>
			<b onclick="toggle()" class="pointer" asp-action="ResendConfirmationEmail">Resend</b>
		</p> *@
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}