@model Tagerly.ViewModels.SignUpViewModel
@{
	Layout = "_RegisterationLayout";
}

<div class="form-wrapper align-items-center">
	<form asp-action="SignUp" method="post" class="form sign-up">
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="input-group">
			<i class='bx bxs-user'></i>
			<input asp-for="UserName" class="form-control" placeholder="Username" />
			<span asp-validation-for="UserName" class="text-danger"></span>
		</div>
		<div class="input-group">
			<i class='bx bx-mail-send'></i>
			<input asp-for="Email" class="form-control" placeholder="Email" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="input-group">
			<i class='bx bxs-lock-alt'></i>
			<input asp-for="Address" class="form-control" placeholder="Address" />
			<span asp-validation-for="Address" class="text-danger"></span>
		</div>
		<div class="input-group">
			<i class='bx bxs-lock-alt'></i>
			<input asp-for="Phone" class="form-control" placeholder="Phone" />
			<span asp-validation-for="Phone" class="text-danger"></span>
		</div>
		<div class="input-group">
			<i class='bx bxs-lock-alt'></i>
			<input asp-for="Password" class="form-control" placeholder="Password" />
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
		<div class="input-group">
			<i class='bx bxs-lock-alt'></i>
			<input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" />
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
		</div>
		<div class="mb-3 role-selection">
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="Role" id="buyerRole" value="Buyer" />
				<label class="form-check-label" for="buyerRole">Buyer</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="Role" id="sellerRole" value="Seller" />
				<label class="form-check-label" for="sellerRole">Seller</label>
			</div>
			<br />
		</div>
		<button type="submit">Sign up</button>
		<p>
			<span>Already have an account?</span>
			<b onclick="toggle()" class="pointer">Sign in here</b>
		</p>
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}