
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/css/Register.css">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	<div id="container" class="container">
		<!-- FORM SECTION -->
		<div class="row">
			@if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "signup")
			{
				<!-- SIGN UP -->
				<div class="col align-items-center flex-col sign-up">
					@RenderBody()
				</div>
				<!-- END SIGN UP -->
			}
			else if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "login")
			{
				<!-- SIGN IN -->
				<div class="col align-items-center flex-col sign-in">
					@RenderBody()
				</div>
				<!-- END SIGN IN -->
			}
		</div>
		<!-- END FORM SECTION -->
		<!-- CONTENT SECTION -->
		<div class="row content-row">
			<!-- SIGN IN CONTENT -->
			<div class="col align-items-center flex-col">
				<div class="text sign-in">
					<h2>Welcome</h2>
				</div>
				<div class="img sign-in"></div>
			</div>
			<!-- END SIGN IN CONTENT -->
			<!-- SIGN UP CONTENT -->
			<div class="col align-items-center flex-col">
				<div class="img sign-up"></div>
				<div class="text sign-up">
					<h2>Join with us</h2>
				</div>
			</div>
			<!-- END SIGN UP CONTENT -->
		</div>
		<!-- END CONTENT SECTION -->
	</div>
	<script src="~/js/Register.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>